.home-page {
    /* padding: 50px; */
    /* background-color: hsl(0, 0%, 98%); */
    padding: 30px;

}

.countries-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
    /* padding: 20px; */
}

@media (min-width: 768px) {
    .home-page {
        padding: 3rem 4rem;
    }
    .countries-list {
        gap: 80px;
    }
}

@media (max-width: 768px) {
    .countries-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .countries-list {
        grid-template-columns: 1fr;
    }
}